body {
    font-family: Arial, sans-serif;
    background-color: #030303;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.medium-button {
    padding: 20px 20px;
    font-size: 18px;
    border: none;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.medium-button:hover {
    background-color: #18023a;
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.7), 0 0 40px rgba(0, 0, 255, 0.7), 0 0 60px rgba(0, 0, 255, 0.7); 
    transition: background-color 0.3s, box-shadow 0.3s;
}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s; 
}

.popup {
    background-color: rgb(212, 210, 210); 
    backdrop-filter: blur(10px); 
    border-radius: 20px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s, opacity 0.5s;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #555;
}

.close-button:hover {
    color: #000;
}
